[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
numpy = "*"
autopep8 = "*"

[packages]
neat-python = "*"
pyyaml = "*"
graphviz = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
